/* import Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #555;
}
body {
  background: #4285f4;
}
.wrapper {
  width: 370px;
  margin: 0 auto 0;
}
.select-btn, .options li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select-btn {
  border-radius: 7px;
  background: #fff;
  font-size: 22px;
  height: 65px;
  padding: 0 20px;
  justify-content: space-between;
}
.select-btn i {
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.content {
  display: none;
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  background: #fff;
}
.wrapper.active .content {
  display: block;
}
.content .search {
  position: relative;
}
.search i {
  left: 15px;
  color: #999;
  font-size: 20px;
  line-height: 53px;
  position: absolute;
}
.search input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}
.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar {
  width: 7px;
  border-radius: 25px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options li {
  height: 50px;
  border-radius: 5px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  background: #f2f2f2;
}