@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text_color1:#ffffff;
  --bg_color1:#1c1c2c;
}

*{
  margin: 0;
  padding: 0;
}

/* snippet 1 rem = 10px */
html {
  font-size: 62.5%; /* =10px */
}
html, body {
  font-size: 18px;
  background-color: var(--bg_color1);
  color: var(--text_color1);
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Krub', sans-serif;
}

h1 {
  font-size: 2.5rem; /* =25px */
}

h2 {
  font-size: 1.9rem; /* =19px */
}

/* mi css */

input {
  color: #1c1c2c;
}